<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">

<head>
	<title>counterbalance.org Deployment Test</title>


	<!-- JW Player -->
	<script type="text/javascript" src="https://cdn.jwplayer.com/libraries/NMuIi6sP.js"></script>

	<!-- CB Player -->
	<link rel="stylesheet" type="text/css" href="https://adrianwyard.github.io/jwplayer-enhancements/cndce-counterbalance.css"></link>
	<script src="https://adrianwyard.github.io/jwplayer-enhancements/cndce-counterbalance.js"></script>

    <!-- Media Sync Player -->
    <script src="./js/cndce-media-sync.js
    "></script>

	<link rel="stylesheet" href="./css/cndce-media-sync.css">


</head>

	<p>
		<h1 style="display: inline-block;">Client ID# <span id="client-id">N/A</span></h1>
		&nbsp;&nbsp;
		<span>Connected clients: <span id="connected-clients">N/A</span></span>
	</p>
	<p>
		<div id="myElement"></div>
		<div 
			data-player="myElement" 
			class="msplayer-join-container"
		>
			<div style="margin-bottom: 1rem;">Video is currently playing in another browser</div>
			<button class="msplayer-join">Click to watch together</button>
		
		</div>
	</p>

	
	
	<script>
		const cbPlayer = new CBPlayer({
			ctf: CBPlayer.PLAYLIST_BASE_URL + "testdir/testrss"  + CBPlayer.PLAYLIST_RSS_EXTENSION,
			el: 'myElement',
			autostart: 'true',
			repeat: false,
			height: 330,
			width: 440
		})

		const msPlayer = new MediaSyncPlayer({
			jwPlayer: cbPlayer.player,
			wsUrl: "<%= wsUrl %>",
			<% if(jsTestMode){ %> testMode:  <%=jsTestMode%>,<%} %>
		});

		msPlayer.on('wsConnected', function(ws, data){
			const {
				clientId,
				clientSize
			} = data;

			document.getElementById('client-id').innerHTML = clientId;

			document.getElementById('connected-clients').innerHTML = clientSize;
		})

		msPlayer.on('wsMetaUpdate', function(ws, data){
			const {
				clientSize
			} = data;


			document.getElementById('connected-clients').innerHTML = clientSize;
			
		})
	</script>

</html>
