.msplayer-join-container {
  display: none;
}

.jwplayer .msplayer-join-container {
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: black;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(https://media.giphy.com/media/xWlgutH3ZZF6w/giphy.gif);
  background-size: 200px;
  font-size: 1.2rem;
  padding: 1rem;
}

.msplayer-join-container .msplayer-join {
  background: none;
  color: white;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  text-transform: capitalize;
}
