.msplayer-join-container {
  display: none;
}

.jwplayer .msplayer-join-container {
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: black;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
